@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.left-menu {
  min-height: 100vh;
  background-color: rgb(43, 43, 43);
}

.left-menu__content {
  padding: 1rem;
}

.left-menu__options {
  margin-top: 0.5rem;
}

.left-menu__option {
  padding: 1rem;
  color: #dddddd;
  font-size: 18px;
}

.left-menu__option:hover {
  background-color: rgb(105, 105, 105);
  cursor: pointer;
}

.manage-icons {
  top: 10px;
  right: 10px;
  position: absolute;
  text-align: end;
  display: flex;
}

.edit-button:hover {
  cursor: pointer;
}

.delete-button:hover {
  cursor: pointer;
}

.add-note, .add-tag, .edit-note {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border: none;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

.add-note:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.add-note:active {
  position: relative;
  top: 1px;
}

.form, .edit-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

form {
  display: flex;
  flex-direction: column;
}

.overlay, .edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none !important;
}

.notes-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: start;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.note {
  margin: 0.25rem;
  text-decoration: none;
  color: #000;
  display: block;
  height: 15em;
  width: 16em;
  padding: 1em;
  position: relative;
  border-radius: 5px;
  border: 0.1px solid grey;
  font-weight: normal;
  color: #000;
  overflow: scroll;
}

.note h1 {
  font-size: 25px;
  margin: 0px;
  margin: 10px 0px 5px 0px;
  font-weight: 500;
}

.note--content {
  color: #383737;
  font-size: 15px;
  word-wrap: break-word;
  /* border-bottom: 1px solid rgb(52, 52, 52); */
}

.note--date {
  margin-top: 2px;
  border-top: 0.8px solid black;
  color: #000;
  font-size: 13px;
}

.note--tags{
  font-size: 12px;
  color: #313131;
}